html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #509ca7, #ffffff);
}

main{
    margin-bottom: 70px;
}
.titulo {
    color: white;
    padding: 15px;
    display: block;
    text-align: center;
    background-color: rgb(63, 75, 233);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
nav ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
}

nav ul li a:hover{
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.3s;
    background-color: rgb(60, 121, 121);
    color: black;
}

footer.contacto {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: black;
    padding: 15px 0;
}
h3{
    text-decoration: underline;
}

.formulario{
    padding: 40x 20px;
    text-align: center;
}
.formulario form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
}
.formulario input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.formulario button {
  padding: 0.6rem;
  font-size: 1rem;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #333;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.formulario button:hover{
    background-color: #ddd;
    transform: scale(1.02);
}


.subtitulo1{
    text-align: center;
    margin-bottom: 20px;
    text-decoration-line: underline;
    
}
.texto{
    padding: 35px;
    left: 1px;
}

.Us{
    font-size: 16px;
    color: #333;
    max-width: 700px;
    margin: 20px auto;
    text-align: justify;
    padding: 15px 20px;
}
.about-us{
    font-size: 20px;
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
    text-decoration: underline;

}

.viajespmundo{
    width: 80%;
}

.back{
    padding: 40px;
}
.galery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    width: 100%;
    padding: 20px 0;
}

.galery img {
    width: 100%;
    max-width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;
}

.galery img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

@media (max-width:1024px){
    .galery{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width:768px){
    .galery{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:400px){
    .galery{
        grid-template-columns: 1fr;
    }
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 40px 20px;
}
.bodyshop{
    background-image: url(../img/fondotienda.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-fluid{
    background: linear-gradient(to bottom, #6c8d92, #ffffff);
}

.derechos{
    font-size: 13px;
    color: #777;
    margin-top: 15px;
    text-align: center;
}
.navbar.navbar-expand-lg.bg-body-tertiary{
    background-color: rgba(0,0, 0, 0.6) !important;
    
}
.subtitle1{
    text-decoration: underline;
    color: rgb(205, 209, 190);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    text-align: center;
}
.subtitule2{
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.hero-tienda{
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

.texto-arco{
    color: black;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.texto-arco1{
    color: black;
    text-decoration: underline;
}
.cataratas-text1{
    color: black;
    text-decoration: underline;
}
.cataratas-text2{
    color: black;
    text-shadow: 2px 2px 5px;
}
.background-blog{
    background-image: url(../img/blog.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    align-items: flex-start;
}
.text-blog{
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(14, 2, 2, 0.863);
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.text-blog:hover{
    color: #0e1a22;
    cursor: pointer;
}
.text-blog2{
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.Formulary-blog{
    display: flex;
    align-items: center;   
    gap: 15px;             
    justify-content: center; 
    flex-wrap: wrap;       
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 30px;
}
.Formulary-blog label{
    font-weight: bold;
    color: #000000;
}
.Formulary-blog button:hover{
    background-color: #005fa3;
    transform: translateY(-2px);
}
.body-testimonios{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
.h1-testimonio{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #222;
    
}
.testimonioprincipal{
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 800px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 5px 0 0;
    
}
@media(min-width: 768px) {
    .testimonioprincipal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        flex-direction: row;
    }
}
.plan{
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-plan{
    background-color: #7baac9;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 0 auto;
    overflow: hidden;
    transition: transform 0.3s, box shadow 0.3s;
}
.plan-content{
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #555;
}
.precio{
    font-weight: bold;
    color: #503030;
}

@media (max-width: 500px) {
    .card-plan {
        max-width: 90%;
    }
}
.cards-plan-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
@media (max-width: 900px) {
    .card {
        flex: 1 1 45%; 
    }
}

@media (max-width: 600px) {
    .card {
        flex: 1 1 90%; 
    }
}