@use "variables" as v;

.button {
  background-color: v.$color-principal;
  color: #fff;
  padding: v.$padding-general;
  border-radius: v.$border-radius;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: v.$color-secundario;
  }
}