$color-principal: #509ca7;
$color-secundario: #2a7a8c;
$color-texto: #333333;
$fuente-principal: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$padding-general: 1rem;
$margin-general: 1rem;
$border-radius: 10px;